button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  letter-spacing: .15em;
	border-radius: 10px;
	background: $orange;
	font-family: $verd;
	font-weight: normal;
	border: none;
	color: white;
	@include font-size(1.1);
	line-height: 1;
	padding: .6em 1em .65em;

	&:hover {
		background-color: $blue
			}

	&:active,
	&:focus {
		/*
border-color: $color__border-button-focus;
		box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
*/
	}
}


.wpcf7-form p input[type="submit"] {
  float: right;
}

//client Q&A popup buttons and modal styles
.md-trigger {//button
  background: $blue;
  font-size: 1em;
  text-align: left;
  letter-spacing: .05em;
  font-weight: normal;
  font-family: $mont;
  line-height: 1.4em;
  border-radius: 15px;
  text-shadow: none;
  width: 100%;
}

.md-trigger:hover {
    background-color: $ltgrey;
  }

.md-show.md-effect-1 .md-content {
  transform: scale(.75);
  width: 90%;
  max-width: 100%;
}
.md-modal {
  max-height: 100%;
  overflow-y: scroll;
}

.md-content h3 {
  text-align: left;
}

.popup-button {
  border: none !important; 
  padding: 0 !important;
}

.popup-button .textwidget {
  border: none !important;
  padding: 0;
}


//types of services icons/buttons //
@media screen and (max-width: 1000px) {
  img.tooltip {
    width: 30%;
  }
}


