input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;

	&:focus {
		color: $color__text-input-focus;
	}
}



input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
  color: $blue;

}

textarea {
	padding-left: 3px;
	width: 100%;
  color: $blue;
}


// Constant contact form on newsletter page
form#sf_shortcode_constantcontact_0_form.constantcontactwidget_form p label {
  font-size: .8em;
  font-color: $blue;
  font-weight: bold;
  font-family: $verd;
  text-transform: uppercase;
  clear: right;
  display: block;
}

form#sf_shortcode_constantcontact_0_form.constantcontactwidget_form p input[type="text"] {
    width: 20em;
  }


.constantcontactwidget_form  {
  font-family: $verd;
  font-size: 1em;
  font-color: $orange;
}

/*

.sf_widget_constantcontact_2_form {
  color: white;
}
*/




