.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	
	.wp-caption-text.gallery-caption{
  	font-family: $verd;
  	font-size: .75em;
  	text-transform: uppercase;
	}

	.gallery-columns-2 & {
		max-width: 50%;
	}

	.gallery-columns-3 & {
		max-width: 33.33%;
	}

	.gallery-columns-4 & {
		max-width: 25%;
	}

	.gallery-columns-5 & {
		max-width: 20%;
	}

	.gallery-columns-6 & {
		max-width: 16.66%;
	}

	.gallery-columns-7 & {
		max-width: 14.28%;
	}

	.gallery-columns-8 & {
		max-width: 12.5%;
	}

	.gallery-columns-9 & {
		max-width: 11.11%;
	}
}

.gallery-caption {
	display: block;
}


/*----galleries--*/

//team and advisors galleries
.page-id-55 #gallery-2, .page-id-56 #gallery-2 {
  .gallery-item {
    width: 140px;

  }
  
  img {
    border-radius: 50%;
  }
}

//client logo gallery on who we help
.page-id-8 #gallery-2 {
  .gallery-item {
  width: 150px;
  vertical-align: middle;
  }
}

.page-id-56 .site-main {
  width: 100%;
}









