ul, ol {
	margin: 0 0 1.5em 3em;
	font-size: 1em;
}

ul {
/* 	list-style: disc; */
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}


//-------use special bullets--------//
ul {
    margin: 0 0 1em 0;
    padding: 0 0 0 1em; /* make space for li's :before */
    list-style: none;
}

li {
    position: relative;
    padding-left: 0.4em; /* text distance to icon */
    font-family: $verd;

}

li:before {
        font-family: 'FontAwesome';
        content: '\f105';
        position: absolute;
        left: -1em; /* same as ul padding-left */
        top: 0em; /* depends on character, maybe use padding-top instead */
        color: $orange;
}
