// Move this all into a "what drives us" partial

/*
table   {
	margin: 0 0 1.5em;
	width: 45%;
	border: 1pt $ltgrey dotted;
	float: left;
	clear: none;
	margin-left: 10px;
  td {
    padding: 15px;
    tr img {
      width: 32px;
    }
    
  }

}
*/



.two-topic-table {//spans the page
  float: left;
  width: 100%;
    td {//each topic is half of table
      width: 50%;
    }
    table {//nested tables span their column
      width: 100%;
      border: none;
        td {//adds space btw nested table items
          padding-top: 20px;
        }
        td:first-child {//first row of nested table, with icon is skinnier, padding after icon
          width: 10%;
          text-align: right;
          padding-right: 15px;
        }
        td {// but the other cells, with icons and text, align top
          vertical-align: top;
          padding-top: 0;
        }
                
    }
}



table {
  border-collapse: separate;
}

td {
/*   border: 1px $ltgrey dotted; */
    td {
    border-left: none;
    padding-right: 1em;
    border-bottom: none;
    }
    td:last-child {
      padding-bottom: 1em;
    }
}








.drives-us-icon {
  width: 216px;
  height: 216px;
}

img.drives-us-category  {
  margin-top: em(10);
  margin-bottom: em(10);
}

.page-id-59 #main {
  @include span-columns(12);
}