.main-navigation {
/*   margin-top: 50px; */
/* 	display: block; */
	/* float: left; */
  font-size: 1.125em;
  font-family: $rock;

#site-navigation {
/*
  clear: right;
  float: left;
  margin-top: 46px;
*/
}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;
			background-color: $orange;

			ul {
				left: -999em;
				top: 0;
			}
			
			
			

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
      	}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {

			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}


.main-navigation li{
		font-size: 1.1em;
	  font-color: $dkgrey;
}

.main-navigation li a {
  padding: 0 20px;
}

ul.sub-menu {
  color: white;
}

.main-navigation li a, .main-navigation li a:visited {
  color: $dkgrey;
}

.main-navigation li a:hover {
  background-color: $orange;
  color: white;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
