.main-navigation {
  font-size: 1.125em;
  font-family: $rock;
  
  li{
    font-family: $rock; 
  }


	ul { //main nav
		display: none;
		list-style: none;
		list-style-image: none;
		margin: 0;
		padding: 0;


		ul { // sub menu
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 32px;
			left: -999em;
			z-index: 99999;
      line-height: 1em;
			background-color: $orange;
			font-size: 1em;
      padding-top: 1em;

      

			ul { // sub-sub menu
				left: -999em;
				top: 0;
				font-size: .6em;
				line-height: 1.5em;
				font-family: $verd;
				
			}
			
			
			

			li { //sub- and sub-sub-menu items
				&:hover > ul,
				&.focus > ul {
					left: 100%;
          
      	}
			}
			

			a { //sub-menu items, not being hovered

			}

			:hover > a,
			.focus > a { //hover states on sub and sub-sub menus
  			}

			a:hover,
			a.focus { //hover states on sub and sub-sub menus
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li { //main nav items
		float: left;
		position: relative;

		  
    li { //sub-nav items
      padding: .4em 0;
       }

    

		&:hover > a,
		&.focus > a {

	
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	  background-color: $orange;
	  color: white;
	  padding-bottom: 15px;
	}
}


.main-navigation li{
		font-size: 1.1em;
	  color: $dkgrey;
}


.main-navigation li a {
  padding: 0 20px;//separates top level items from eachother horiz
  color: $dkgrey;
  height: 32px;
}

.main-navigation li a:hover, .main-navigation li a:active {
  background-color: $orange;
  color: white;
  padding-bottom: 2px;
  /*   height: 2.2em; */
}

#primary-menu li:before {
  list-style: none;
  content: '';
}

li.menu-item {
}


ul.sub-menu {
  color: white;
  width: em(150);
 
  .sub-menu {
    width: em(300);
  }
  
}


.sub-menu li{//lines between items in submenu
    border-bottom: 1px solid;
    border-bottom-color: tint($orange, 20%);
    width: inherit;
}

.sub-menu li a:hover {
  padding-bottom: 0;
  
}

.menu-item-has-children a:hover {
  background-color: $orange;
/*     padding-bottom: 2px; */
    color: white;
}



.main-navigation li:hover > a {
  background-color: $orange;
/*   padding-bottom: 2px; */
  color: white;
}

.main-navigation li li a {
  height: auto;
}

////////////////////////////////////////////
/*
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}
*/

@media screen and (min-width: 0) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}



.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
