.page-id-2 #primary, .page-id-2 #main {
  width: 100%
}


.page-id-2 #secondary.homebuckets{
  position: relative;
  background-color: $orange;
  border-radius: 15px;
  margin: 0;
  top: -230px;
  width: 100%;
  }

  
  
.page-id-2 h1.widget-title {//display titles for text
  display: inline;
  color: white;
  font-size: 1.25em;
  font-family: $mont;
/*   margin-left: em(10); */
  margin-bottom: 0;
}  

#hwim-22 h1.widget-title, #sticky-posts-13 h1.widget-title {//don't display titles for graphics
  display: none;
}

  
.page-id-2 .textwidget, #sticky-posts-13 {//all widgets on this page
  border: none;
  font-family: $verd;
  font-size: 1em;
  padding-top: 0;
}  

  
#hwim-22 { //the boda group image
  float: left;
  width: 100px;
  margin-left: 25px;
  margin-top: 25px;
} 

.page-id-2 img.attachment-thumbnail.wp-post-image {//boda team image
  float: right;
  width: 100px;
  margin-right: 25px;
  margin-top: 0px;
  border: none;
}   

#hwim-22 img, .page-id-2 img.attachment-thumbnail.wp-post-image {//make images circles
  border-radius: 50%;
  
}

#text-4 .textwidget { //text area of the boda group
/*     margin-left: em(10); */
}
  
#text-4   { //the boda group 
  width: 35%;
  float: left;
  color: white;
  border: none;
  margin-top: em(10);
    a {
    color: $blue;
  }
  a:hover {
      color: white;
    }

}
  
#text-5 { // boda team text
  width: 35%;
  float: left;
  color: white;
  margin-top: em(10);
/*   margin-left: .5em; */
  a {
    color: $blue;
  }
  a:hover {
      color: white;
    }
}  

#text-5 h1.widget-title {
/*   margin-left: em(3); */
}


#text-6 { //widget holding vertical line
  width: 1%;
  border-right: 2px dotted white;
  float: left;
  margin-top: em(10);
/*   margin-left: em(10); */
  height: 13em;
 

}


.page-id-2 #text-4{
  margin-left: em(10);
}

.page-id-2 #text-5 {
  margin-left: em(15);
}