//////special cases for home page///////

.page-id-2 .entry-header { //turn off default header of content area (not real page header)
  display: none;
}

.page-id-2 .entry-footer { //turn off default footer of content area (not real page footer)
  display: none;
}

.page-id-2 #post-2, .page-id-2 #main {// take margin off main content entry area (that slider is in)
  margin: 0;
}

.page-id-2 .textwidget, .page-id-2 .widdget_ultimate_posts, .page-id-2 .general-widget {//for IE
  width: auto;
}


//main content area goes across width of page
.page-id-2 #primary, .page-id-2 #main {
  width: 100%
}




//secondary content area/orange block
.page-id-2 #secondary.homebuckets{
  position: relative;
  background-color: $orange;
  border-radius: 15px;
  margin: 0;
  top: -100px;
  width: 100%;
  margin-bottom: -80px;
  }

.page-id-2 .textwidget {//clears standard widget padding for this page
  padding: 0; 
}  
  
.page-id-2 h1.widget-title {//display titles for text
  display: inline;
  color: white;
  font-size: 1.25em;
  font-family: $mont;
  margin-bottom: 0;
}  

#hwim-22 h1.widget-title, #sticky-posts-13 h1.widget-title {//don't display titles for graphics
  display: none;
}

  
.page-id-2 .textwidget, #sticky-posts-13 {//all widgets on this page
  border: none;
  font-family: $verd;
  font-size: 1em;
  padding-top: 0;
}  

  
#hwim-22 { //the boda group image
  float: left;
  width: 100px;
  margin-left: 25px;
  margin-top: 25px;
} 

.page-id-2 img.attachment-thumbnail.wp-post-image {//boda team image
  float: right;
  width: 100px;
  margin-right: 25px;
  margin-top: 0px;
  border: none;
}  

.widget_ultimate_posts {//keeps right photo from picking up 100% width from unknown place
  width: initial;
} 

#hwim-22 img, .page-id-2 img.attachment-thumbnail.wp-post-image {//make images circles
  border-radius: 50%;
  
}

  
#text-4   { //left text (impact)
  width: 34%;
  float: left;
  color: white;
  border: none;
  margin-left: em(10);
  margin-top: em(10);
    a {
    color: $blue;
  }
  a:hover {
      color: white;
    }

}
  
#text-5 { // rigt text (team)
  width: 36%;
  float: left;
  color: white;
  margin-left: 1em;
  margin-top: em(10);
  a {
    color: $blue;
  }
  a:hover {
      color: white;
    }
}  


#text-6 { //widget holding vertical line
  width: 1%;
  border-right: 2px dotted white;
  float: left;
  margin-top: em(10);
  height: 13em;
}

//////////////BREAKPOINTS///////////////////

/*
@media only screen  and (min-width : 1024px) {
  #hwim-22, .page-id-2 img.attachment-thumbnail.wp-post-image { //smaller pix
    width: 80px;
  }
  .page-id-2 .textwidget, #sticky-posts-13 { //smaller font-size
    font-size: .9em;
  }
  .page-id-2 #secondary.homebuckets{ //smaller orange block
    width: 95%;
    margin-left: -10px;
    top: -160px;
    
   } 
  #text-6 { // shorter dotted line
    height: 12em;
  } 
}

@media only screen  and (min-width: 960px) and (max-width: 1024px) {
    #hwim-22, .page-id-2 img.attachment-thumbnail.wp-post-image { //smaller pix
    width: 75px;
  }  
}  

@media only screen  and (min-width: 857px) and (max-width: 930px) {
    #hwim-22, .page-id-2 img.attachment-thumbnail.wp-post-image { //smaller pix
    width: 70px;
    }
    #text-4, #text-5 {//narrower text columns
      width: 30%;
  }  
}

@media only screen  and (min-width: 690px) and (max-width: 930px) {
  #hwim-22, .page-id-2 img.attachment-thumbnail.wp-post-image { //smaller pix
    width: 65px;
  }
  #text-4, #text-5 {//narrower text columns
    width: 30%;
  }  
  .page-id-2 .textwidget, #sticky-posts-13 { //smaller font-size
    font-size: .85em;
  }
  #text-6 { //  dotted line
   margin: 15px 15px 0 15px;
   height: 16em;
  } 
}

@media only screen  and (min-width: 640px) and (max-width: 690px) {
  #hwim-22, .page-id-2 img.attachment-thumbnail.wp-post-image { //smaller pix
    width: 60px;
  }
  #text-4, #text-5 {//narrower text columns
    width: 30%;
  }  
  .page-id-2 .textwidget, #sticky-posts-13 { //smaller font-size
    font-size: .85em;
  }
  #text-6 { //  dotted line
   margin: 15px 10px 0 10px;
   height: 17em;
  } 
  .page-id-2 #secondary.homebuckets {//make orange go all the way across, sit under slider
    top: -100px;
  }
  #main.site-main {
    height: 550px;
  }  
}
*/

///MEDIUM BROWSER WINDOWS///
@media only screen  and (min-width: 972px) and (max-width: 1024px) {
   .page-id-2 #secondary.homebuckets { //sets up orange block for centering
     width: 90%;
     margin: 0 auto;
     display: block;
   }

   .site-content .widget-area {// let's orange block be centered
     float: none;
   }

    #hwim-22, .page-id-2 img.attachment-thumbnail.wp-post-image { //smaller pix
    width: 60px;
    } 
    
    .page-id-2 .textwidget, #sticky-posts-13 { //smaller font-size
    font-size: .85em;
    }
    
   #text-4, #text-5 {//wider text columns
    width: 36%;
    } 
       
    #text-6 { //  dotted line
      margin: 15px 10px 0 10px;
      height: 10em;
  } 
}

////SMALLER BROWSER WINDOWS////
@media only screen  and (min-width: 640px) and (max-width: 971px) {

    
    #hwim-22, .page-id-2 img.attachment-thumbnail.wp-post-image { //smaller pix
    width: 55px;
    } 
 
     .page-id-2 .textwidget, #sticky-posts-13 { //smaller font-size
    font-size: .8em;
    }
 }



@media only screen  and (min-width: 640px) and (max-width: 710px) {

   #text-5 {//narrow text columns
    width: 30%;
    } 
   #text-4 {
     width: 36%;
   }
   
   } 
   


//////SMALLest and MOBILE////
@media only screen and (max-width: 639px) {
  .page-id-2 #secondary.homebuckets {//make orange go all the way across, sit under slider
    top: -49px;
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
  #hwim-22, #text-4, #text-5, #sticky-posts-13 {// get rid of all the floats so stuff stacks
    float: none;
    clear: none;
    font-size: 1.25em;
  }
  #text-6 {//hide dotted line
    display: none;
  }
  #hwim-22 {//first pic centered at top
    width: 80px;
    margin: 0 auto;
    padding-top: 10px;
  }
  #text-4, #text-5 {//text goes across
    width: 80%;
    margin: 0 auto;
  }
  #text-5 { // space between two text blocks
    padding-top: 35px;
  }
  .page-id-2 img.attachment-thumbnail.wp-post-image {//second pic centered at bottom
    margin-bottom: 25px;
    width: 100px;
    margin-right: 0;
  }
  
  #sticky-posts-13 {//second pic centered at bottom
    width: 100px;  
    margin: 0 auto;
    float: none;
  }



}

@media only screen and (min-width: 513px) and (max-width: 639px) {  
  #hwim-22, #text-4, #text-5, #sticky-posts-13 {// get rid of all the floats so stuff stacks
    font-size: .8em;
  }
}  

@media only screen and (max-width: 513px) {  
  #hwim-22, #text-4, #text-5, #sticky-posts-13 {// get rid of all the floats so stuff stacks
    font-size: 1.1em;
  }
} 

